body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #fbf7f7; }

.twitter-contain {
  display: block;
  padding: 125px 35%;
  }

.header-sign-logo{
  width: 6mm;
  height: 7mm;
  transition: all 0.6s ease;
}
.header-sign-logo:hover{
  animation: pop 0.6s linear 1;
}
@keyframes pop{
  50%  {transform: scale(1.2);}
}
.logo-sign{
  width: 7.5mm;
  height: 8.75mm;
}
.dev-svg-logo{
  /* position: absolute; */
  width: 30px;
  transition: 1s all;
}
.dev-svg-logo:before{
  content: "";
  /* border: 1px solid; */
  position: absolute;
  left: -3%;
  top: 92%;
  height: 7px;
  width: 28px;
  opacity: 0;
  transition: 1s all;
  transition-delay: 0.10;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 80%);
}
.dev-svg-logo:hover{
  transform: translateY(-5px);
}
.dev-svg-logo:hover:before{
  opacity: 1;
  transform: translateY(5px);
}
.skobka{
  font-weight:normal ;
  color: #e64e6c;
}
.not-bold{
  color: #000000;
}
.sign-up-txt h3 {
  font-size: 23px;
  margin: 5px 0 0 0; }

.sign-up-txt p {
  font-size: 12px;
  font-weight: 700; }

.btn-container {
  display: block;

}

.sign-up-btn {
  position: relative;
  display: block;
  text-align: center;
  color: white;
  background: #4bd582;
  text-decoration: none;
  font-weight: 700;
  padding: 5px 60px;
  border-radius: 14px;
  margin-bottom: 2%;
  overflow: hidden;
  transition: 1s all ease;
}
.sign-up-btn span{
  position: relative;
  z-index: 10;
}
.sign-up-btn::before{
  background: #e64e6c;
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  z-index: 1;
  transition: all 0.6s ease;
}
.sign-up-btn:hover::before{
  height: 1100%;
}
/* .sign-up-btn:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color:#e64e6c;
} */

.login-btn {
  position: relative;
  display: block;
  text-align: center;
  color: #4bd582;
  background: white;
  text-decoration: none;
  font-weight: 700;
  padding: 5px 60px;
  border-radius: 14px;
  margin-bottom: 2%;
  overflow: hidden;
  transition: 1s all ease;
  display: block;
}
.login-btn span{
  position: relative;
  z-index: 10;
}
.login-btn::before{
  background: #000;
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  z-index: 1;
  transition: all 0.6s ease;
}
.login-btn:hover::before {
  height: 1100%;
}
.sign-up-link, .login-link {
  text-decoration: none; }

@media (max-width: 979px) {
  .twitter-contain {
    padding-top: 150px;
    width: 40%;
    padding-right: 30%;
    padding-left: 30%; } }

@media (max-width: 768px) {
  .twitter-contain {
    padding-top: 175px;
    width: 50%;
    padding-right: 25%;
    padding-left: 25%; } }

@media (max-width: 639px) {
  .twitter-contain {
    padding-top: 150px;
    width: 50%;
    padding-right: 25%;
    padding-left: 25%; } }

@media (max-width: 479px) {
  .twitter-contain {
    padding-top: 125px;
    width: 60%;
    padding-right: 20%;
    padding-left: 20%; } }

.login {
  padding: 60px 0;
  justify-content: center;
  background-color: #fbf7f7;
  height: 100vh; }

.login-container {
  display: grid;
  margin: 0 30% auto 30%;
  width: auto;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.25); }

.login-main {
  padding: 20px 10% 20px 10%;
  background-color: #ffffff;
  display: block; }

.login-footer {
  padding: 20px 30% 20px 10%;
  background-color: #111112;
  display: flex; }

.login-main__title {
  margin: 0;
  font-size: 24px;
  margin-bottom: 30px; }

.login-main__line {
  display: block;
  outline: none;
  border-style: none;
  border-bottom: 2px inset;
  height: 30px;
  width: 100%;
  border-color: #c0c0c0; }

.login-main__btn {
  color: #ffffff;
  background-color: #4bd582;
  padding: 7px 15px;
  border: none;
  border-radius: 100vh;
  transition: 0.3s;
  outline: none; }

.login-main__btn:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.1); }

.login-footer__question {
  margin: 0;
  color: #fbf9fa;
  padding-right: 3px; }

.login-main__line:hover {
  transition: all 0.3s ease;
  border-color:  #4bd582; }

.login-main__line:focus {
  transition: all 0.3s ease;
  border-color: #03ad47; }

.login-footer__href,
.login-footer__question {
  text-decoration: none;
  margin: 0;
  font-size: 14px; }

.login-footer__href {
  color: #4bd582; }

@media (max-width: 764px) {
  .login-container {
    width: 80%;
    margin: 30px 10% 20px 10%; }
  .login-main__title {
    font-size: 28px; }
  .login-main {
    padding: 20px 20% 20px 10%; } }

@media (max-width: 500px) {
  .login-main__line {
    margin-bottom: 30px; }
  .login-main {
    padding: 20px 10% 20px 10%; }
  .login-footer {
    padding: 20px 10% 20px 10%; } }

@media (max-width: 380px) {
  .login-container {
    width: 90%;
    margin: 50px 5% 20px 5%; } }

.twit-head {
  margin: 0;
  background-color: #ffffff;
  width: 100%;
  height: 39px;
  position: fixed;
  font-weight: bold;
  font-size: 22px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.25); }

.sign-headline {
  width: 60%;
  margin: 7px 20% 0 20%;
  display: flex;
  justify-content: space-between; }

.home-about {
  display: flex;
  justify-content: space-between; }

.fa-home {
  margin-right: 5px; }

.hl-home {
  margin-right: 15px;
  transition: 0.3s; }

.hl-about {
  transition: 0.3s; }

.hl__href {
  text-decoration: none;
  color: black;
}

.registration-page {
  display: flex;
  background-color: #fbf7f7;
  width: 100%; }

.registr-container {
  display: grid;
  margin: 60px 25% 20px 25%;
  width: 50%;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.25); }

.registr-bord {
  background-color: #ffffff;
  padding: 20px 5%;
  display: block; }

.registr-bord__title {
  font-size: 24px;
  margin: 0 0 30px 0; }

.registr-line {
  margin-bottom: 50px; }

.registr-first {
  display: flex;
  justify-content: space-between; }

.reg-style {
  outline: none;
  width: 100%;
  height: 30px;
  border-style: none;
  border-bottom: 2px inset;
  transition: 0.3s;
  border-color: #c0c0c0; }

.reg-style-2 {
  width: 48%; }

.registr__text {
  margin: 5px 0;
  font-size: 12px;
  color: #c0c0c0; }

.invalid {
  border-color: #ff0000; }

.advice {
  margin: 5px 0;
  font-size: 12px;
  color: #ff0000; }

.registr-submit__btn {
  color: #ffffff;
  background-color: #4bd582;
  padding: 7px 15px;
  border: none;
  border-radius: 100vh;
  transition: 0.3s;
  outline: none; }

.submit__link {
  text-decoration: none; }

.registr-footer {
  display: flex;
  background-color: #111112;
  padding: 30px 5%;
   }

.registr-footer__question {
  color: #fbf9fa;
  padding-right: 3px; }

.registr-footer__question, .registr-footer__log-href {
  text-decoration: none;
  margin: 0;
  font-size: 14px; }

.registr-footer__log-href {
  color: #4bd582; }

.registr-submit__btn:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.1); }

.fa-twitter:hover {
  transition: all 0.3s ease;
  transform: scale(1.1); }

.hl-about:hover,.hl-home:hover{
  transition: all 0.3s ease;
  border-bottom:3px;
  border-color: #4bd582;
  border-bottom-style: inset;
}

/* .hl-home:hover {
  transition: 0.3s;
  border-bottom: #e64e6c; } */

/* .hl-home:hover .fa-home {
  transition: all 0.3s ease;
  transform: scale(1.05); }
} */

.reg-style:hover {
  transition: all 0.3s ease;
  border-color: #4bd582; }

.invalid {
  border-color: red; }

.reg-style:focus {
  transition: all 0.3s ease;
  border-color: #03ad47; }

.reg-date {
  color: -internal-light-dark-color(black, white); }

@media (max-width: 764px) {
  .twit-head {
    height: 40px;
    font-weight: bold;
    font-size: 20px; }
  .sign-headline {
    width: 80%;
    margin: 10px 15%; }
  .fa-twitter {
    font-size: 22px; }
  .registr-container {
    width: 80%;
    margin: 60px 10% 20px 10%; }
  .registr-bord__title {
    font-size: 28px; }
  .registr__text {
    font-size: 14px; } }

@media (max-width: 500px) {
  .sign-headline {
    width: 80%;
    margin: 10px 15%; }
  .registr__text {
    font-size: 10px; }
  .registr-first {
    display: block; }
  .reg-style-2 {
    display: block;
    width: 100%; }
  .reg-style-3 {
    margin-bottom: 30px; }
  .registr-line {
    margin-bottom: 30px; } }

@media (max-width: 380px) {
  .registr-container {
    width: 90%;
    margin: 50px 5% 20px 5%; }
  .sign-headline {
    width: 80%;
    margin: 10px 15%; } }

.edit__profile-header {
  width: 100%;
  height: 200px; }

.edit__profile-header-bg {
  height: 50%;
  background-color: #007bff; }

.edit-profile-header__avatar-container {
  bottom: -55px;
  left: 0;
  position: relative;
  transition: bottom .3s;
  z-index: 3; }

.edit-profile-header__avatar {
  background-color: #41abe1;
  border: 3px solid #fff;
  border-radius: 10px;
  height: 70px;
  position: absolute;
  width: 70px; }

.edit__user {
  margin-top: 30px; }

.edit__fullname {
  display: block;
  font-size: 14px; }

.edit__username {
  display: block;
  font-size: 14px; }

.edit__updatebtn {
  padding: 3px;
  border-radius: 5px;
  height: 45px;
  color: white;
  background-color: #007bff;
  transition: ease-in-out .3s;
  outline: none;
  border: 2px solid #007bff; }
.edit__updatebtn:not([disabled]):hover {
  color: #007bff;
  background-color: white;
  border: 2px solid #007bff; }
.edit__updatebtn:disabled {
  background-color: #489cca;
  border-color: #489cca; }

.edit__input-field {
  border-radius: 0;
  border-style: none;
  border-bottom: 2px solid #c0c0c0;
  outline: none !important;
  box-shadow: none !important;
  transition: border-bottom-color ease-in-out .3s; }
.edit__input-field:focus {
  outline: none;
  box-shadow: none; }
.edit__input-field:hover {
  border-color: #007bff; }

.edit__invalid {
  border-color: red !important; }

.helper-text {
  position: relative;
  font-size: 12px; }

.edit__input-field .is-invalid + .invalid-feedback {
  display: block !important;
  color: red !important; }

#editBio {
  resize: none;
  overflow-y: hidden;
  height: 24px; }

.search__profile-header {
  width: 100%;
  height: 250px; }

.search__profile-header-bg {
  height: 40%;
  background-color: #007bff; }

.search-profile-header__avatar-container {
  bottom: -55px;
  left: 0;
  position: relative;
  transition: bottom .3s;
  z-index: 3; }

.search-profile-header__avatar {
  background-color: #41abe1;
  border: 3px solid #fff;
  border-radius: 10px;
  height: 70px;
  position: absolute;
  width: 70px; }

.edit__user {
  margin-top: 30px; }

.edit__fullname {
  display: block;
  font-size: 14px; }

.edit__username {
  display: block;
  font-size: 14px; }

.user__twt {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px; }

.user__tff {
  font-size: 18px;
  color: #41abe1; }

.find__l-f-name {
  color: #41abe1; }

.find__username {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px; }

.find__avatar {
  padding: 10px 11.875px;
  background-color: #f0f0f0;
  border-radius: 25px;
  height: 50px;
  width: 50px; }

.search-result {
  border-radius: 5px;
  margin-bottom: 2px; }

.follow-find-res {
  font-size: 10px;
  color: #ffffff;
  background-color: #41abe1;
  width: 108px;
  padding: 3px 0px;
  border: none;
  border-radius: 16px;
  transition: 0.3s;
  outline: none; }

.follow-find-res:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.05); }

.fix-some-pos {
  margin-top: -5px; }

@media (max-width: 991px) {
  .user__twt {
    font-size: 12px; }
  .user__tff {
    font-size: 16px; } }

@media (max-width: 767px) {
  .user__twt {
    font-size: 15px; }
  .user__tff {
    font-size: 18px; } }

.tweets__new-tweet {
  background-color: rgba(112, 181, 255, 0.15);
  border-color: rgba(112, 181, 255, 0.15); }

#tweetsNewTweet {
  resize: none;
  overflow-y: hidden;
  border: none;
  border-radius: 0;
  box-shadow: none; }
#tweetsNewTweet:hover, #tweetsNewTweet:focus {
  box-shadow: 0 3px #007bff; }

.invalid-tweet {
  box-shadow: 0 3px red !important; }

.navbar-nav__compose-button {
  background-color: #41abe1;
  border-radius: 5px;
  width: 40px;
  text-align: center; }

.navbar-nav__compose-button:hover {
  background-color: #3084ad; }

.nav-item__settings {
  display: none; }

.profile-background {
  background-color: #3084ad;
  height: 320px; }

.avatar-container {
  bottom: -157px;
  left: 0;
  position: relative;
  transition: bottom .3s;
  z-index: 3; }

.avatar {
  background-color: #41abe1;
  border: 5px solid #fff;
  border-radius: 10px;
  height: 200px;
  position: absolute;
  width: 200px; }

@media (max-width: 992px) {
  .navbar-container__header {
    max-width: 95%; }
  .form-control-header__search {
    width: 100px; } }

@media (max-width: 768px) {
  .navbar-header__left-nav {
    display: none; }
  .navbar-header__logo {
    display: none !important; }
  .nav-item__settings {
    display: list-item; } }

@media (max-width: 992px) and (min-width: 768px) {
  .avatar-container {
    left: -25px; } }

.profile-header {
  margin-top: 30px;
  padding-top: 20px; }

.profile-element__username {
  color: #41abe1;
  cursor: pointer; }

.profile-element__biography {
  font-size: 14px;
  padding-top: 5px; }

.profile-element__location {
  display: block;
  font-size: 14px; }

.profile-element__website {
  font-size: 14px; }

.profile-search-user {
  margin-top: 10px;
  background-color: #eaf3f7; }

.profile-search-user__input {
  font-size: 14px; }

.follow-panel {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 5px; }

.follow-panel__header {
  display: block;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 18px; }

.follow-panel__link {
  cursor: pointer;
  text-decoration: none; }

.follow-panel__user-data {
  vertical-align: top;
  font-size: 12px; }

.follow-panel__button {
  font-size: 13px;
  display: block; }

.hashtag-panel {
  margin-top: 10px;
  padding: 10px; }

.hashtag-list {
  list-style: none;
  padding: 0; }

.hashtag-list__hashtag:hover {
  cursor: pointer; }

.hashtag__header {
  font-size: 18px; }

@media (min-width: 768px) {
  .profile-search-user {
    display: none; } }

@media (max-width: 768px) {
  .follow-panel {
    display: none; }
  .hashtag-panel {
    display: none; } }

.tweets__header-container {
  width: 100%;
  background-color: #f5f8fa; }

.tweets__header__first-row {
  padding-left: 15px; }

.tweets__header__carousel {
  max-width: 75%; }

.navbar-custom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0; }

.container-tweets-custom {
  padding-left: 15px;
  padding-right: 15px; }

.tweets__header__second-row {
  height: 40px;
  text-align: center;
  padding-left: 15px; }

.tweets__header__nav-item-second-row {
  color: #66757f;
  font-size: 14px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 40px; }

.tweets__header__nav-item-second-row[data-active='true'] {
  opacity: 1; }

.tweets__header__nav-item-second-row[data-active='false'] {
  opacity: 0.75; }

.tweets__header__nav-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5px; }

.tweets_header__number[data-active='true'] {
  color: #66757f; }

.tweets_header__number[data-active='false'] {
  color: #0084b4; }

.tweets_header__title {
  color: #66757f;
  font-size: 15px;
  font-weight: 600; }

.tweets_header__number {
  font-size: 18px; }

.tweets__body-container {
  background-color: #f5f8fa;
  padding-top: 0; }

.tweets__header__nav-item {
  padding-right: 18px;
  padding-left: 0;
  background-color: #f5f8fa;
  outline: none;
  transition: all 0.3s ease-in-out; }

.tweets__header__nav-item:hover {
  cursor: pointer;
  background-color: rgba(29, 161, 242, 0.1);
  transition: all 0.3s ease-in-out; }

.tweets_header__title {
  background-color: transparent; }

.tweets_header__number {
  background-color: transparent; }

.underline {
  height: 2px;
  background-color: transparent;
  margin-right: -20px; }

.underline[data-active="true"] {
  background-color: #0084b4; }

.underline[data-active="false"] {
  background-color: transparent; }

.underline-blue {
  height: 2px;
  background-color: #0084b4;
  margin-left: -15px;
  margin-right: -10px; }

.following-area {
  display: flex;
  justify-content: flex-end; }

.following-button {
  background-color: #53a9ea;
  border-color: #53a9ea;
  height: 65%;
  margin-right: 5px; }

.settings__gear-icon {
  margin-right: -3px; }

.settings__arrow-icon {
  transform: scale(0.75); }

.settings {
  user-select: none; }

.settings-menu {
  right: 0;
  left: initial; }

.slick-next::before, .slick-prev::before {
  font-family: inherit;
  color: #0084b4; }

.slick-prev {
  z-index: 100; }

.slick-disabled {
  background-color: transparent !important;
  opacity: 0; }

.tweet__toolbar {
  display: flex;
  text-align: center;
  padding-top: 15px;
  max-width: 100%; }

.toolbar-number {
  padding-left: 5px;
  padding-right: 30px;
  color: #8899a6;
  font-size: 13px; }

.toolbar-icon {
  transform: scale(0.8); }

.tweet, .tweet-media, .retweet {
  background-color: #ffffff;
  padding: 20px 15px;
  margin-bottom: 10px;
  max-width: 100%; }

.tweet__text-huge {
  font-size: 28px;
  padding-bottom: 15px;
  color: #333333; }

.tweet__text {
  font-size: 16px;
  padding-bottom: 15px;
  color: #333333; }

.tweet__time {
  color: #8899a6;
  font-size: 13px;
  padding-bottom: 30px; }

@media (max-width: 1199px) {
  .following-area {
    visibility: collapse;
    height: 0;
    width: 0; }
  .tweets__header__carousel {
    max-width: 100%; } }

@media (max-width: 767px) {
  .more-options {
    visibility: collapse;
    position: absolute;
    z-index: -1; }
  .tweet {
    width: 100%; } }

@media (max-width: 575px) {
  .tweet__toolbar {
    justify-content: flex-end; }
  .toolbar-number {
    width: 0;
    visibility: collapse; }
  .toolbar-icon {
    width: 0;
    visibility: collapse; } }

@media (max-width: 500px) {
  .tweet__text-huge {
    font-size: 20px; }
  .tweet__text {
    font-size: 12px; } }

@media (max-width: 479px) {
  .tweets__header__second-row {
    visibility: collapse;
    height: 0; } }

.wrapping-link {
  border: 2px solid #0084b4;
  padding: 5px 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.more-options {
  padding-right: 25px; }

.tweet__photo {
  height: 280px;
  width: auto;
  padding-top: 15px;
  background-color: #0084b4;
  margin-right: -15px;
  margin-left: -15px; }

.retweet__time {
  display: flex;
  text-align: center;
  padding-bottom: 10px; }

.retweet-icon {
  background-color: #77b255; }

.retweet__text {
  font-size: 13px;
  color: #8899a6;
  text-transform: uppercase;
  padding-left: 5px;
  line-height: 1.8; }

.author-icon {
  width: 25px;
  height: 25px;
  background-color: #0084b4; }

.retweet__author {
  display: flex;
  text-align: end;
  padding-bottom: 30px; }

.author-name {
  color: #8899a6;
  font-size: 13px;
  padding-left: 5px;
  line-height: 2; }

.tweets__footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 30px; }

.line1px {
  height: 2px;
  background-color: #cccccc;
  width: 100%; }

.footer-icon {
  transform: scale(1.5);
  padding-left: 10px;
  padding-right: 10px; }

.main-tab-content[data-active="false"] {
  display: none; }

.following__body-container .following__user-card {
  margin-bottom: 10px;
  background-color: white;
  height: 250px; }
.following__body-container .following__user-card .following__background {
  height: 40%;
  background-color: #007bff; }
.following__body-container .following__user-card .following__background .following__avatar-container {
  bottom: -55px;
  left: 0;
  position: relative;
  transition: bottom .3s;
  z-index: 3; }
.following__body-container .following__user-card .following__background .following__avatar {
  background-color: #41abe1;
  border: 3px solid #fff;
  border-radius: 10px;
  height: 70px;
  position: absolute;
  width: 70px; }
.following__body-container .following__user-card .following__followbtn {
  position: absolute;
  top: 120px;
  right: 50px;
  border-radius: 15px;
  border: none;
  width: 80px;
  height: 40px;
  color: white;
  background-color: #007bff;
  transition: ease-in-out .3s;
  outline: none; }
.following__body-container .following__user-card .following__followbtn:hover {
  color: #007bff;
  background-color: white;
  border: 2px solid #007bff; }
.following__body-container .following__user-card .following__user {
  margin-top: 30px; }
.following__body-container .following__user-card .following__user .following__fullname,
.following__body-container .following__user-card .following__user .following__username,
.following__body-container .following__user-card .following__user .following__biography {
  display: block;
  font-size: 14px; }
.following__body-container .following__user-card .following__user .following__biography {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis; }

.page-container {
  background-color: #fbf9fa;
  min-width: 320px; }

.m-login {
  margin-bottom: 50px; }
.cursor-disabled{
  cursor: not-allowed;
}
.error-block{
  padding-top: 100px;
  background: #fff;
  min-height: 100vh;
  color: gray;
  font-family: "Comic Sans MS";
}
.fa-sad-tear{
  font-size: 160px;
}
.glitch404{
  font-weight: bold;
  font-size:100px;
  position:relative;
  margin: 0;
}
.glitchNotFound{
  font-size: 40px;
  font-weight: bold;
}
.glitchText{
  font-size: 20px;
}
.glitchA{
  position: relative;
  color: gray;
  display: block;
  text-align: center;
  /*text-decoration: none;*/
  border: 2px solid gray;
  font-size: 20px;
  padding: 10px 20px;
  overflow: hidden;
  font-weight: bold;
  transition: 1s all ease;
}
.glitchA span{
  position: relative;
  z-index: 10;
}
.glitchA:before{
  background: gray;
  content: "";
  width: 102%;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%,-50%) ;
  transition: all 0.6s ease;
}

.glitchA:hover::before{
  height: 100%;
}
.glitchA:hover{
  text-decoration:none ;
  color: white;
}
